.App {
  background: rgb(243, 243, 243);
}

.form-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.form-container-heading {
  color: teal;
}
